.ButtonForm {
  padding: 6px;
  border-radius: 0 4px 4px 0;
}

.RemoveItem {
  background: #e74c3c;
  border: none;
  border-radius: 0 4px 4px 0;
  color: white;
  height: 20px;
}

.ToggleDone {
  background: #3498db;
  border: none;
  border-radius: 4px 0 0 4px;
  color: white;
  height: 20px;
}